<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/shake.js"></script>

    <link rel="stylesheet" href="css/animate.css">

    <link id="favicon" rel="icon" type="image/png" href="about:blank" />

    <title>lightbulb</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body bgcolor="grey">

    <%= yield %>

    <font color="yellow">share on <a href="http://twitter.com/intent/tweet?url=http://lucetta.herokuapp.com/<%= @bulb_id %>&amp;text=Let's%20play%20with%20a%20light%20bulb!&amp;hashtags=lucetta"><button>twitter</button></a> this light bulb</font>

    <script type="text/javascript">
window.onload = function() {
    //create a new instance of shake.js.
    var myShakeEvent = new Shake({
        threshold: 15
    });
    // start listening to device motion
    myShakeEvent.start();
    // register a shake event
    window.addEventListener('shake', shakeEventDidOccur, false);
    //shake event callback
    function shakeEventDidOccur () {
        change();
    }
};

var ws = new WebSocket('wss://' + window.location.host + "/value/<%= @bulb_id %>");
ws.onopen  = function() { console.log("websocket opened!"); };
ws.onclose = function() { console.log("server just went down!"); location.reload(); };
ws.onmessage = function(m) {
  console.log("new data from server: " + m.data);

  var bulb_status = (m.data == "0") ? "off" : "on";

  $('#bulb').removeClass().addClass('animated swing').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
    $(this).removeClass();
  });

  $("#favicon").attr("href", "img/bulb-" + bulb_status + ".png");
  $("#bulb").attr("src", "img/bulb-" + bulb_status + ".png");
  $("#bulb").attr("alt", bulb_status);
}

function change() {
  ws.send("need to change the light pls");
}
    </script>
  </body>
</html>
